[Unit]
Description=Power-Off the system after systemd-repart

DefaultDependencies=no
Before=systemd-repart.target
Before=sysinit.target
Before=shutdown.target
Conflicts=shutdown.target
FailureAction=poweroff-force

[Service]
Type=simple
Environment="SLEEP_TIME_S=30"
# Wait to shutdown and then gather some details
ExecStart=/bin/sh -c '		\
    set -x;			\
    env;			\
    sleep "$SLEEP_TIME_S";	\
    mount;			\
    cat /etc/fstab;		\
    cat /etc/crypttab;		\
    fdisk -l;			\
    pstree -pan;		\
    exit 1;			\
'

[Install]
WantedBy=systemd-repart.target
WantedBy=sysinit.target
